*
{
  margin: 0;
  padding:0;
}
table,th,tr
{
    padding: 0px;
    margin:0 auto;
    border: 0px solid white;
    border-collapse: collapse;
}
tr {
    line-height: 0px;
}
.MyCssClass
{
    background-color: brown;
}
